#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row {
  display: flex;
}

.left {
  margin-right: 1em;
  width: 8em;
  text-align: left;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.left .left-child {
  display: none;
}

.left:hover .left-child {
  display: block;
  position: absolute;
  background: white;
  left: 0;
  top: 0;
  bottom: 0;
}

.left:hover {
  overflow-y: unset;
}

.right {
  display: flex;
}

.each-item {
  width: 1.5em;
  background-color: lightgreen; 
}

.each-item.active {
  background-color: lightcoral;
}

.control-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}